<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hakkımızda</title>
    <link rel="icon" href="./assets/logo.png" type="image/png" />

    <link rel="stylesheet" href="./assets/index.3763fc0e.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <span >Bon Appétit</span>
      </div>
      <nav class="roboto-regular">
        <a href="index.html">Ana Sayfa</a>
        <a href="hakkimizda.html">Hakkımızda</a>
        <a href="iletisim.html">İletişim</a>
      </nav>
      <div class="login">
        <a href="login.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-login-2"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
            />
            <path d="M3 12h13l-3 -3" />
            <path d="M13 15l3 -3" />
          </svg>
        </a>
      </div>
    </header>

    <div class="hakkimizda">
      <div class="resim">
        <img src="./assets/hakkimizda.jpg" />
      </div>
      <div class="yazi">
        <p>
          Hoş geldiniz! PALATE, dünyanın dört bir yanından gelen lezzetleri bir
          araya getirerek unutulmaz bir yemek deneyimi sunar. Misyonumuz,
          müşterilerimize seyahat etmeden farklı kültürlerin mutfağına özgü
          lezzetleri deneme fırsatı vermek ve her bir tabağın arkasındaki
          hikayeyi keşfetmelerini sağlamaktır.<br>
          PALATE'te, yerel malzemelerle
          hazırlanan geleneksel tarifler, modern bir dokunuşla harmanlanır.
          Tutku dolu şeflerimiz, en yüksek kalite standartlarını koruyarak
          lezzetli yemekler hazırlar. Sıcak ve misafirperver personelimiz, her
          ziyaretinizi unutulmaz kılmak için burada.<br>
          Restoranımızda, samimi bir
          atmosferde aileniz ve arkadaşlarınızla keyifli vakit geçirebilirsiniz.
          PALATE, dünya mutfağının eşsiz lezzetlerini keşfetmek için sizi
          bekliyor. Sizi restoranımıza davet ediyoruz ve birlikte unutulmaz bir
          lezzet yolculuğuna çıkmayı dört gözle bekliyoruz. Afiyet olsun!<br />

          Afiyet olsun!
        </p>
      </div>
    </div>
  </body>
</html>
