
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/Anasayfa_Layout.cshtml";
}

<div class="hakkimizda">
    <div class="resim">
        <img src="~/template/assets/resim1.jpg" />
    </div>
    <div class="yazi">
        <p>
            Bon Appetit'e hoş geldiniz! <br /><br />

            Bon Appetit, dünya genelinden en lezzetli yemek tariflerini bir araya getiren bir platformdur. Amacımız, farklı kültürlerden, farklı mutfaklardan gelen lezzetleri keşfetmek ve sizinle paylaşmaktır. Bon Appetit olarak, yemek kültürünü keşfetmeyi, yemek pişirmeyi seven herkes için birinci sınıf bir kaynak olmayı hedefliyoruz.
            <br /><br />
            Sitemizde, her damak tadına uygun bir şey bulabileceğinizi umuyoruz. Dünya çapında sevilen klasiklerden, egzotik lezzetlere kadar geniş bir yemek tarifi koleksiyonumuz var. Evinizde, aileniz ve sevdiklerinizle birlikte unutulmaz yemek deneyimleri yaşamanıza yardımcı olmak için buradayız.
            <br /><br />
            Bon Appetit'i tercih ettiğiniz için teşekkür ederiz. Bir sonraki yemek maceranızda sizi de aramızda görmekten mutluluk duyarız!

            <br /><br />

            Afiyet olsun!
        </p>
    </div>
</div>

